# CATE Detection Evaluation code

# Copyright 2025 Carnegie Mellon University.

# NO WARRANTY. THIS CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING INSTITUTE MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. CARNEGIE MELLON UNIVERSITY MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, AS TO ANY MATTER INCLUDING, BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR PURPOSE OR MERCHANTABILITY, EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF THE MATERIAL. CARNEGIE MELLON UNIVERSITY DOES NOT MAKE ANY WARRANTY OF ANY KIND WITH RESPECT TO FREEDOM FROM PATENT, TRADEMARK, OR COPYRIGHT INFRINGEMENT.

# Licensed under an Creative Commons Attribution-Non-Commercial 4.0 International (CC BY-NC 4.0)-style license, please see license.txt or contact permission@sei.cmu.edu for full terms.

# [DISTRIBUTION STATEMENT A] This material has been approved for public release and unlimited distribution.  Please see Copyright notice for non-US Government use and distribution.

# DM25-0275
absl-py==2.1.0
addict==2.4.0
alabaster==0.7.13
albumentations==1.0.3
aliyun-python-sdk-core==2.15.1
aliyun-python-sdk-kms==2.16.3
antlr4-python3-runtime==4.9.3
arabic-reshaper==3.0.0
asn1crypto==1.5.1
asttokens==2.4.1
atlassian-python-api==3.41.16
attrs==23.2.0
awscli==1.33.17
Babel==2.15.0
backcall==0.2.0
backports.zoneinfo==0.2.1
boto3==1.34.135
botocore==1.34.135
build==1.2.1
cachetools==5.3.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cmake==3.29.6
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.1.1
coverage==5.3.1
crcmod==1.7
cryptography==42.0.8
cssselect2==0.7.0
cycler==0.12.1
Cython==0.29.30
data-gradients==0.3.2
decorator==5.1.1
Deprecated==1.2.14
docutils==0.16
dtrx==8.5.3
einops==0.3.2
executing==2.0.1
filelock==3.14.0
flatbuffers==24.3.25
fonttools==4.53.0
fsspec==2024.6.1
future==1.0.0
GitPython==3.1.43
google-auth==2.30.0
google-auth-oauthlib==1.0.0
grpcio==1.64.1
html5lib==1.1
huggingface-hub==0.23.4
humanfriendly==10.0
hydra-core==1.3.2
idna==3.7
imagededup==0.3.2
imageio==2.34.2
imagesize==1.4.1
importlib_metadata==8.0.0
importlib_resources==6.4.0
ipdb==0.13.13
ipython==8.12.3
jedi==0.19.1
Jinja2==3.1.4
jmespath==0.10.0
joblib==1.4.2
json-tricks==3.16.1
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
lazy_loader==0.4
lit==18.1.8
lxml==5.2.2
lz4==4.3.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mat4py==0.6.0
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
--extra-index-url https://download.openmmlab.com/mmcv/dist/cu117/torch2.0/index.html
mmcv==2.0.0 
mmdet==3.3.0
mmengine==0.10.4
mmpretrain==1.2.0
mmyolo==0.6.0
model-index==0.1.11
modelindex==0.0.2
mpmath==1.3.0
networkx==3.1
numpy==1.22.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.13.0
onnx-simplifier==0.4.36
onnxruntime==1.13.1
opencv-python==4.6.0.66
opencv-python-headless==4.10.0.84
opendatalab==0.0.10
openmim==0.3.7
openxlab==0.1.0
ordered-set==4.1.0
oscrypto==1.3.0
oss2==2.17.0
packaging==24.1
pandas==2.0.3
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.2
posix-ipc==1.1.1
prettytable==3.10.0
prompt_toolkit==3.0.47
protobuf==3.20.3
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycocotools==2.0.6
pycparser==2.22
pycryptodome==3.20.0
pyDeprecate==0.3.2
Pygments==2.18.0
pyHanko==0.25.0
pyhanko-certvalidator==0.26.3
pyparsing==2.4.5
pypdf==4.2.0
pypng==0.20220715.0
pyproject_hooks==1.1.0
python-bidi==0.4.2
python-dateutil==2.9.0.post0
pytorchcv==0.0.67
pytz==2023.4
pyvww==0.1.1
PyWavelets==1.4.1
PyYAML==6.0.1
qrcode==7.4.2
rapidfuzz==3.9.3
referencing==0.35.1
reportlab==3.6.13
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.4.2
rosbags==0.9.23
rpds-py==0.18.1
rsa==4.7.2
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.2
safetensors==0.4.3
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
shapely==2.0.4
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.0.3
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.6.3
stringcase==1.2.0
super-gradients==3.3.0
svglib==1.5.1
sympy==1.12.1
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.4.1
termcolor==1.1.0
terminaltables==3.1.10
texttable==1.6.4
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2023.7.10
timm==0.9.2
tinycss2==1.3.0
tomli==2.0.1
torch==2.0.1
torchmetrics==0.8.0
torchvision==0.15.2
tqdm==4.65.2
traitlets==5.14.3
treelib==1.6.1
triton==2.0.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
ultralytics==8.0.200
uritools==4.0.3
urllib3==1.26.6
Wand==0.6.11
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.3
wrapt==1.16.0
xhtml2pdf==0.2.11
yapf==0.40.2
zipp==3.19.2
zstandard==0.23.0
psycopg2-binary
psycopg2